.footer{
	background-color: #000;
	}
.h1 span{font: 35px NSimSun;}
.mr{margin-left: -90px;}
.btn-outline-dark{border: 3px solid rgba(67,67,67,1) !important;}
.btn-outline-dark:hover{border: 3px solid whitesmoke !important; background-color: black !important; color: #000000;}